.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.item{
display: flex;
padding: 10px;
}

.button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 30px;
    background: rgb(255, 192, 57);
    color: white;
    border: 0;
    outline: none;
    border: 1px solid black;
    min-width: 100px;
    
  }

.button:hover{
    border: 1px solid white;
  }

.block1{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.block2{
  display: flex;
  flex-direction: column;
}

.block3{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*==========================*/
.messageBlock{
  border:1px solid white;
  border-radius: 10px;
  width: 90%;
  height: 60px;
  margin: 0 3%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.selectedPage{
  /* font-weight: 500; */
  color: black;
  background: rgb(243, 243, 131);
  border-radius: 5px;
}

.users{
  display: flex;
  flex-wrap: wrap;
  
}