.header{
    /* border: 1px solid; */
    font-size: 25px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(223, 223, 223);
  }