.nav{
    grid-area: n;
    border-right: 1px solid white;
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

  .item {
    margin: 30px 0 0 0;
    text-align: center;
  }
  .item a {
    color: white;
    text-decoration: none;
  }

  .item a.activeLink {
    padding: 10px 26px;
    border-radius: 30px;
    background: rgb(255, 192, 57);
    color: white; 
  }

  .item a:hover{
    padding: 10px 26px;
    border-radius: 30px;
    background: rgb(235, 182, 67);
    color: white;
    opacity: 0.8;
  }