.nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  }

/* @media (max-widht: 800px){
  .nav{
    flex-direction: row;
  }
} */

  .item {
    margin-top: 30px;
  }
  .item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.5s ease;
  }

  .item a.activeLink {
    padding: 7px 10px;
    border-radius: 30px;
    background: rgba(63, 124, 255, 0.884);
    color: rgb(255, 255, 255); 
  }

  .item a:hover{
    padding: 7px 10px;
    border-radius: 30px;
    background: rgba(63, 124, 255, 0.884);
    color: rgb(255, 255, 255);
    opacity: 0.8;
  }
.login{
  margin-bottom: 20px;
}

.link{
  
}