.appWrapper {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "n c s";
  grid-template-columns: 2fr 7fr 3fr;
  background-color: rgb(44, 54, 71);
  min-height: 100vh;
  height: 100%; 
}

.content {
  grid-area: c;
  color: white;
  border-right: 1px solid white;
}
