.container {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.navbarContainer{
  position: sticky;
  top: 0;
  max-height: 100vh;
  background: #ffffff;
  display: flex;
  min-height: 100%;
  width: 20%;
  /* margin: 0px 10px; */
}

.content{
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(223, 223, 223);
  border-right: 1px solid rgb(223, 223, 223);
  min-height: 100vh;
  margin: 0px 10px;
  background: #ffffff;
  display: flex;
  width: 70%;
}

@media (max-widht: 800px){
  .container{
    
  }
  .navbarContainer{
   
  }
  .content{
   
  }
}




